In [1]:
import warnings
warnings.filterwarnings("ignore")

In [12]:
import os
import requests
from dotenv import load_dotenv
import pandas as pd

In [4]:
load_dotenv()

True

In [3]:
api_key = os.getenv("AV_API_KEY")

In [5]:
crypto_tickers = {"BTC", "ETH", "LTC", "SOL", "XRP", "ADA", "BNB", "DOGE", "AVAX", "DOT"}

In [24]:
base_url = "https://www.alphavantage.co/query"
function = "DIGITAL_CURRENCY_DAILY"
params = {
    "function": function,
    "symbol": "ETH",
    "market": "USD",
    "apikey": api_key
}

In [25]:
response = requests.get(base_url, params=params)
data = response.json()

In [26]:
stock_data = data['Time Series (Digital Currency Daily)']
df = pd.DataFrame.from_dict(stock_data,orient="index", dtype=float)

In [27]:
df

            1. open  2. high   3. low  4. close      5. volume
2025-07-18  3479.78  3499.72  3461.68   3497.79    5737.510685
2025-07-17  3373.20  3526.73  3311.01   3479.77  274593.749258
2025-07-16  3138.79  3425.89  3101.25   3373.12  292334.524072
2025-07-15  3014.41  3144.81  2933.00   3138.01  179476.731968
2025-07-14  2973.48  3083.52  2964.20   3014.53  192451.972654
...             ...      ...      ...       ...            ...
2024-08-07  2462.26  2552.77  2308.94   2343.66  212737.269811
2024-08-06  2420.79  2556.62  2415.69   2462.52  240973.218804
2024-08-05  2688.38  2696.41  2116.02   2420.37  750156.044004
2024-08-04  2901.98  2933.13  2626.17   2688.31  110939.310004
2024-08-03  2985.88  3016.19  2857.35   2901.72   77878.902391

[350 rows x 5 columns]

In [22]:
data.keys()

dict_keys(['Meta Data', 'Time Series (Digital Currency Daily)'])

In [23]:
data['Meta Data']

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'BTC',
 '3. Digital Currency Name': 'Bitcoin',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2025-07-18 00:00:00',
 '7. Time Zone': 'UTC'}